<form #addAssociationForm="ngForm" class="d-flex flex-column no-gutters">
  <div class="row no-gutters">
    <p class="h5 text-left mb-2 mr-auto">Associate</p>
    <div *ngIf="is_loading" class="ml-3">
      <gateway-loader></gateway-loader>
    </div>
    <span matRipple (click)="close()" class="material-icons p cursor-pointer">
      close
    </span>
  </div>
  <mat-form-field appearance="outline" class="mt-3">
    <mat-label>Device</mat-label>
    <input
      matInput
      [(ngModel)]="device_people.device_serial_no"
      placeholder="Device"
      name="device_serial_no"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline" class="">
    <mat-label>Patient</mat-label>
    <input
      matInput
      [(ngModel)]="device_people.people_external_id"
      name="people_external_id"
      placeholder="Patient"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Device Type</mat-label>

    <mat-select
      required
      name="device_type"
      [(ngModel)]="device_people.device_type"
    >
      <mat-option>None</mat-option>
      <mat-option *ngFor="let type of device_type_list;" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox name="override" [(ngModel)]="device_people.override">
    override
  </mat-checkbox>
  <div class="d-flex flex-row mt-3">
    <button
      (click)="save(addAssociationForm)"
      mat-stroked-button
      color="primary"
      class="flex-grow-1 mr-1"
      [disabled]="is_loading"
    >
      Save
    </button>
    <button
      (click)="close()"
      mat-stroked-button
      color="warn"
      class="flex-grow-1 ml-1"
    >
      Close
    </button>
  </div>
</form>
