<mat-sidenav-container autosize>
  <!-- <mat-sidenav
    class="bg-primary"
    #sidenav
    [mode]="is_mobile ? 'push' : 'side'"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')"
  >
    <gateway-sidebar></gateway-sidebar>
  </mat-sidenav> -->

  <mat-sidenav-content
    class="d-flex flex-column overflow-auto content bg-primary"
  >
    <!-- <p *ngIf="is_mobile">
      <button mat-button (click)="sidenav.toggle()"><i class="material-icons">menu</i></button>
    </p> -->
    <div class=" flex-grow-1 d-flex flex-column overflow-auto pb-1">
      <gateway-header></gateway-header>
      <div class=" pt-3  flex-grow-1">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="d-flex flex-row px-3 pb-1 pt-1" >
      <p class="text-white small">Last Refreshed: # placeholder #</p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
